@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.mySwiper .swiper-pagination-bullet {
  background: rgb(167 139 250);
  padding: 8px;

  @media (min-width: 460px) {
    padding: 7px;
  }
}
.mySwiper {
  padding-bottom: 2rem !important;

  @media (min-width: 460px) {
    padding-bottom: 1.5rem !important;
  }
}
